body{
    transition: 1s background-color;
}

.h1-container{
    display: flex;
}

.title{
    justify-content: center;
    text-align: center;
}


.enter-country-name{
    display: block;
    margin-top: 10px;
}

.label-country-name{
    display: block;
}

.score-container{
    position: relative;
}

.score-counter{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
}

.timer-container{
    position: relative;
    display: flex;
    justify-content: center;
}

.timer{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.alert-container{
    position: relative;
}

.alert{
    position: absolute;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    margin-bottom: 0;
}

.alert-success{
    text-align: center;
}

.game-over{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}



.card{
    background-color: lightblue;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-image{
    width: 711.75px;
    height: 759.75px;
    /* position: absolute;
    top: 0px;
    left: 0px; */
}

.map-content{
    margin-top: 3rem;
}

.ticks-container{
    display: flex;
}

.tick-0{
    position: relative;
    left: 285px;
    bottom: 660px;
}

.tick-1{
    position: relative;
    left: 415px;
    bottom: 237px;
}

.tick-2{
    position: relative;
    left: 240px;
    bottom: 485px;
}

.tick-3{
    position: relative;
    left: 445px;
    bottom: 140px;
}


.tick-4{
    position: relative;
    left: 170px;
    bottom: 505px;
    
}

.tick-5{
    position: relative;
    left: 482px;
    bottom: 340px;
    
}

.tick-6{
    position: relative;
    left: -25px;
    bottom: 500px;
}

.tick-7{
    position: relative;
    left: 263px;
    bottom: 425px;
}

.tick-8{
    position: relative;
    left: 340px;
    bottom: 445px;
}

.tick-9{
    position: relative;
    left: 300px;
    bottom: 530px;
}

.tick-10{
    position: relative;
    left: 545px;
    bottom: 240px;
}

.tick-11{
    position: relative;
    left: 320px;
    bottom: 340px;
}

.tick-12{
    position: relative;
    left: 215px;
    bottom: 360px;
}

.tick-13{
    position: relative;
    left: -17px;
    bottom: 453px;
}

.tick-14{
    position: relative;
    left: 467px;
    bottom: 503px;
}

.tick-15{
    position: relative;
    left: 310px;
    bottom: 650px;
}

.tick-16{
    position: relative;
    left: 100px;
    bottom: 394px;
}

.tick-17{
    position: relative;
    left: 370px;
    bottom: 545px;
}

.tick-18{
    position: relative;
    left: 277px;
    bottom: 95px;
}

.tick-19{
    position: relative;
    left: 360px;
    bottom: 465px;
}

.tick-20{
    position: relative;
    left: 50px;
    bottom: 370px;
}

.tick-21{
    position: relative;
    left: -253px;
    bottom: 526px;
}

.tick-22{
    position: relative;
    left: -118px;
    bottom: 460px;
}

.tick-23{
    position: relative;
    left: -233px;
    bottom: 490px;
}

.tick-24{
    position: relative;
    left: -290px;
    bottom: 508px;
}

.tick-25{
    position: relative;
    left: 245px;
    bottom: 380px;
}

.tick-26{
    position: relative;
    left: 113px;
    bottom: 60px;
}

.tick-27{
    position: relative;
    left: -285px;
    bottom: 445px;
}

.tick-28{
    position: relative;
    left: -15px;
    bottom: 650px;
}

.tick-29{
    position: relative;
    left: 257px;
    bottom: 155px;
}

.tick-30{
    position: relative;
    left: 118px;
    bottom: 233px;
}

.tick-31{
    position: relative;
    left: -265px;
    bottom: 565px;
}

.tick-32{
    position: relative;
    left: -370px;
    bottom: 585px;
}

.tick-33{
    position: relative;
    left: 250px;
    bottom: 140px;
}

.tick-34{
    position: relative;
    left: -338px;
    bottom: 720px;
}

.tick-35{
    position: relative;
    left: 78px;
    bottom: 210px;
}

.tick-36{
    position: relative;
    left: -150px;
    bottom: 137px;
}

.tick-37{
    position: relative;
    left: -240px;
    bottom: 560px;
}

.tick-38{
    position: relative;
    left: -275px;
    bottom: 472px;
}

.tick-39{
    position: relative;
    left: -63px;
    bottom: 356px;
}

.tick-40{
    position: relative;
    left: -324px;
    bottom: 380px;
}

.tick-41{
    position: relative;
    left: -555px;
    bottom: 537px;
}

.tick-42{
    position: relative;
    left: 160px;
    bottom: 320px;
}

.tick-43{
    position: relative;
    left: -565px;
    bottom: 468px;
}

.tick-44{
    position: relative;
    left: 50px;
    bottom: 450px;
}

.tick-45{
    position: relative;
    left: -235px;
    bottom: 60px;
}

.tick-46{
    position: relative;
    left: -170px;
    bottom: 450px;
}

.tick-47{
    position: relative;
    left: -190px;
    bottom: 545px;
}

.tick-48{
    position: relative;
    left: -153px;
    bottom: 305px;
}

.tick-49{
    position: relative;
    left: -525px;
    bottom: 460px;
}

.tick-50{
    position: relative;
    left: -450px;
    bottom: 721px;
}

.tick-51{
    position: relative;
    left: -227px;
    bottom: 387px;
}

.tick-52{
    position: relative;
    left: -290px;
    bottom: 220px;
}

.tick-53{
    position: relative;
    left: -293px;
    bottom: 173px;
}

.make-hidden{
    visibility: hidden;
}

.make-visible{
    visibility: visible;
}